.footer {
    display: flex;
    flex-direction: column;
}
.cardContainer {
    margin: 20px;
    width: 500px;
}

.buttonCard {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card {
    height: 300px;
}
